<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Clinica Rossi</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Area protetta</web-resource-name>
			<url-pattern>/faces/amministrazione.jsp/*</url-pattern>
			<url-pattern>/faces/paziente.jsp/*</url-pattern>
			<url-pattern>/faces/creaPrenotazioneEsame.jsp/*</url-pattern>
			<url-pattern>/faces/creaTipologiaEsame.jsp/*</url-pattern>
			<url-pattern>/faces/esame.jsp/*</url-pattern>
			<url-pattern>/faces/esameCreato.jsp/*</url-pattern>
			<url-pattern>/faces/tipologiaEsameCreata.jsp/*</url-pattern>
			<url-pattern>/faces/medico.jsp/*</url-pattern>
			<url-pattern>/faces/listaEsamiMedico.jsp/*</url-pattern>
			<url-pattern>/faces/medicoNotFound.jsp/*</url-pattern>
			<!-- inserisci tutte pagine che necessitano di autenticazione -->
		</web-resource-collection>
		<auth-constraint>
			<role-name>amministratore</role-name>
		</auth-constraint>
	</security-constraint>
	
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Area protetta</web-resource-name>
			<url-pattern>/faces/paziente.jsp/*</url-pattern>
			<!-- inserisci tutte pagine che necessitano di autenticazione -->
		</web-resource-collection>
		<auth-constraint>
			<role-name>utente_registrato</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
		<role-name>amministratore</role-name>
	</security-role>

  	<security-role>
		<role-name>utente_registrato</role-name>
	</security-role>

	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/loginError.jsp</form-error-page>
		</form-login-config>
	</login-config>

	<!-- <servlet> <servlet-name>Controller</servlet-name> <servlet-class>siw.uniroma3.controller.Controller</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>Controller</servlet-name> <url-pattern>/servlet/*</url-pattern> 
		</servlet-mapping> -->
</web-app>